# Set the version of docker compose to use
version: '3.9'

# The containers that compose the project
services:
  test_prisma_db:
    image: postgres:13
    container_name: test_prisma_db
    ports:
      - 5432
    environment:
      POSTGRES_USER: prisma
      POSTGRES_PASSWORD: prisma
      POSTGRES_DB: tests
  test_core_api:
    build:
      context: .
      target: test
    command:
      - /bin/sh
      - -c
      - |
        PORT=3001
        NODE_ENV=production
        DEBUG=0
        
        TOKEN_SECRET=this_is_token_secret
        
        DATABASE_URL="postgresql://prisma:prisma@test_prisma_db:5432/tests?schema=public"
        npm install
        npm run migrate
        npm run test
    depends_on:
      - test_prisma_db
