version: '3.9'

services:
  core_api:
    build:
      context: .
      target: prod
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    command:
      - /bin/sh
      - -c
      - |
        npm install
        npm run migrate
        npm run start
    restart: unless-stopped