name: Test

on:
  push:
    branches:
    - kjsninja-patch-1
  pull_request:
    branches:
    - main

jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1
      
    - name: Run Test
      if: always()
      run: |
        npm run docker:test:up
