name: Test

on:
  push:
    branches:
    - kjsninja-patch-1
  pull_request:
    branches:
    - main

jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 22.13.0

    - name: Install dependencies
      run: npm install

    - name: Run Test
      run: |
        npm run docker:test:up
    

#    - name: Stop containers
#      if: always()
#      run: docker-compose -f "docker-compose.yml" down
