name: Test

on:
  push:
    branches:
    - kjsninja-patch-1
  pull_request:
    branches:
    - main

jobs:
  docker:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Install node
      uses: actions/setup-node@v1
      with:
        node-version: 22.13.0

    - name: Install dependencies
      run: npm install

    - name: Modify .env
      run: |
        echo 'PORT=3001
        NODE_ENV=production
        DEBUG=0
        TOKEN_SECRET=this_is_token_secret_for_test
        DATABASE_URL="postgresql://prisma:prisma@test_prisma_db:5432/tests?schema=public"'
        >  .env.test

    - name: Run Test
      run: |
        cat .env.test
        npm run docker:test:up
    

#    - name: Stop containers
#      if: always()
#      run: docker-compose -f "docker-compose.yml" down
